version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: resepify-app
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      ENV: development
    working_dir: /app
    depends_on:
      - db
  db:
    image: postgres:13
    container_name: resepify-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: